<div class="container text-center">
  <div *ngIf="isLoggedIn; else loggedOut">
    <p class="text-success mt-5">
      Hi {{userLogin}}, You logged in as {{roles}}.
    </p>
  </div>
  <ng-template #loggedOut>
    <form [formGroup]="loginForm" novalidate>
      <!-- {{loginForm.value | json}} -->
      <br>
      <mat-form-field class="w-50">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
        <mat-error *ngIf="hasError('username', 'required') && (submitted||fusername.touched)">Username is required
        </mat-error>
        <mat-error *ngIf="hasError('username', 'minlength')">Min 3 characters</mat-error>
        <mat-error *ngIf="hasError('username', 'maxlength')">Max 60 characters</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="my-4 w-50">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required') && (submitted||fpassword.touched)">Password is required
        </mat-error>
        <!-- <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error> -->
      </mat-form-field>
      <br>
      <button class="mt-4" mat-raised-button color="primary" type="submit" (click)="onSubmit()">
        <fa name="user"></fa> Login
      </button>
    </form>
  </ng-template>
</div>